<div class="container">
  <div class="row">
    <section class="col-4">
      <div class="d-grid gap-2">
        <button class="btn btn-primary " (click)="get400Error()">Test 400 error</button>
        <button class="btn btn-secondary " (click)="get400VlaidationError()">Test 400 validation error</button>
        <button class="btn btn-warning " (click)="get404Error()">Test 404 error</button>
        <button class="btn btn-danger " (click)="get500Error()">Test 500 error</button>
      </div>
    </section>

    <section class="col-8">

    </section>
  </div>
</div>