ul.nav.nav-pills li.nav-link.active,
ul.nav.nav-pills li.nav-link.active:hover {
  background-color: var(--bs-success);
}

ul.nav.nav-pills li.nav-link:hover {
  background-color: var(--bs-tertiary-bg);
  cursor: pointer;
}

h5:hover {
  cursor: pointer;
}

.my-pagination::ng-deep .page-item.active .page-link {
  color: var(--bs-pagination-active-color) !important;
  background-color: var(--bs-success) !important;
  border-color: var(--bs-success) !important;
}