<div class="container">
  <div class="row">

    <section class="col-md-2">
      <h5 class="my-3 d-flex justify-content-between" (click)="isProductTypesCollapsed = !isProductTypesCollapsed"
        [attr.aria-expanded]="!isProductTypesCollapsed" aria-controls="collapseBasic">Products
        <i class="bi bi-caret-down" *ngIf="isProductTypesCollapsed"></i>
        <i class="bi bi-caret-up" *ngIf="!isProductTypesCollapsed"></i>
      </h5>
      <ul class="nav nav-pills flex-column mb-auto" [collapse]="isProductTypesCollapsed" [isAnimated]="true">
        <li class="nav-link" *ngFor="let type of types" (click)="onSelectedProductType(type.id)"
          [ngClass]="{'active':shopParams.typeId==type.id}">{{type.name}}</li>
      </ul>

      <hr>
      <app-yerba-mate-side-filter *ngIf="shopParams.typeId" (selectBrandEvent)="onSelectedBrand($event)"
        (selectCountryEvent)="onSelectedCountry($event)">
      </app-yerba-mate-side-filter>

      <h5 class="my-3">Sort</h5>
      <select class="form-select" (change)="onSortSelected($event)">
        <option selected disabled>select sorting</option>
        <option class="sortSelectOption" *ngFor="let option of sortOption" value="{{option.value}}">{{option.name}}
        </option>
      </select>
      <hr>
    </section>

    <section class="col-md-10">
      <div class="row justify-content-between my-2">
        
      <div class="col-auto">
        <app-paging-header 
        [pageNumber]="shopParams.pageNumber"
        [pageSize]="shopParams.pageSize"
        [totalCount]="totalCount">
        </app-paging-header>
      </div>


        <div class="col-auto">
          <div class="row">
            <div class="col-auto col-auto mx-1 px-0">
              <select class="form-select" (change)="onPageSizeSelect($event)">
                <option 
                *ngFor="let option of pageSizeOption;let i=index"
                value="{{option.value}}"
                [attr.selected]="i == 1 ? true : null"
                >{{option.name}}</option>
              </select>
            </div>
            <div class="col-auto mx-1 px-0">
              <input class="form-control col" type="text" placeholder="Search">
            </div>
            <div class="col-auto mx-1 px-0">
              <button class="col btn btn-outline-primary">Search</button>
            </div>
            <div class="col-auto ms-1 ps-0">
              <button class="col btn btn-outline-success" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>

      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3" *ngIf="products.length>0">
        <div class="col" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>

      <div class="my-5" *ngIf="products.length<=0">
        <div class="col alert alert-info">Currently there are no such products.</div>
      </div>

      <div class="row row-cols-1 justify-content-sm-center my-5">
        <div class="col-auto">
          <pagination 
          *ngIf="totalCount && totalCount>0"
          [(ngModel)]="shopParams.pageNumber"
          [totalItems]="this.totalCount"
          [itemsPerPage]="this.shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          class="my-pagination" >
        </pagination>
        </div>
      </div>
    </section>

  </div>
</div>